.login {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 3rem;
    background-color: #ffc300;
    box-shadow: 7px 5px 5px black;
    /* margin-bottom: ; */
  }
  
  .login label {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
  }
  
  .login h1 {
    margin-bottom: 0.7rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form input {
    width: 30rem;
    height: 2rem;
    background-color: rgba(249, 248, 248, 0.7);
    border: solid 2px black;
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .login-button {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.6rem;
    padding: 0.4rem 2rem;
    cursor: pointer;
  }
  
  .login-button:hover{
      background-color: #ffc300;
      color: black;
      box-shadow: 3px 3px 1px black;
  }