.reviews-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#series-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reviews-volumes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
