* {
  box-sizing: border-box;
}
.carrousel {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.cards {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carrousel button {
  border: none;
  background-color: transparent;
}

.carrousel button:hover {
  background-color: rgba(128, 128, 128, 0.322);
}

.fa-angle-right {
  height: 3rem;
  color: var(--text-colour);
}

.fa-angle-left {
  height: 3rem;
  color: var(--text-colour);
}

.divider {
  flex-grow: 1;
  width: 100%;
}
