.review-frame {
    width: 25vw;
    display: flex;
    flex-direction: column;
    border:#ffc300 solid 3px;
    border-radius: 5px;
    padding: 5px;
}

.review-info {
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.user-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-profile-pic {
    border-radius: 50%;
    height: 3rem;
}

.series-pic {
    height: 3rem;
}

.rating {
    color: #ffc300;
}

.review-text {
    margin-left: 4rem;
}

.buttons-container {
    display: flex;
    align-self: flex-end;
}