/* The container */
/* .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url("../assets/images/star-regular.svg");
    background-repeat: no-repeat;
}



.checkmark:checked {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url("../assets/images/star-regular-filled.png");
    box-shadow: 0 0 0 3px yellow;
    background-repeat: no-repeat;
} */


/* input {
  height: 25px;
  width: 25px;
} */


.checkbox {
  height: 25px;
  width: 25px;
  z-index: 1;
  visibility: hidden;
}
.fa-star {
  color: #ffc300;
  font-size: 1.5rem !important;
  background-color: var(--text-colour);
  border-radius: 1rem;
  padding: 0.3rem;
}

.fa-star,
.checkbox {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}
