header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header a {
  text-decoration: none;
}

header h1 {
  color: white;
  margin-left: 2rem;
}
