.userProfile {
   display: flex;
   margin: 5rem;
   padding-left: 8rem;

}

.userProfile img {
    border-radius: 50%;
    width: 25%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
}

h2 {
    text-transform: uppercase;
}