.series-card {
  padding: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.series-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.series-name:hover {
  overflow: unset;
  text-overflow: unset;
  background-color: #ffc300;
  /* border-radius: 0.3rem; */
  z-index: 1;
  white-space: normal;
  color: black;
}

.series-card img {
  max-width: 100%;
}

a {
  color: var(--text-colour);
  text-decoration: none;
}

.series-link {
  display: flex;
}
