.series-details-card {
  display: flex;
  border: 0.3rem solid var(--text-colour);
  padding: 1rem;
  justify-content: space-between;
  width: 60vw;
  position: relative;
}

.main-info {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: fit-content;
  font-size: 1.5rem;
  border: 0.2rem solid var(--text-colour);
  margin-left: 1.5rem;
}

.main-info > * {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 3rem;
}

.synopsis {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}



.img-frame {
  background-color: #ffc300;
  width: fit-content;
  padding: 1rem;
  border: 0.2rem solid var(--text-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-frame > img {
  width: 100%;
  border: 0.1rem solid black;
}

.bar {
  margin-bottom: 2rem;
}

.genres {
  font-size: 1.1rem;
}

.genres > span {
  padding-left: 0.5rem;
}

#series-details > .fa-star {
  position: absolute;
}
